<div class="row">
  <div class="col-8 text-center">
    <h2>POST API Integration using Template Form</h2>
  </div>
  <div class="col-4">
    <button class="btn btn-success" (click)="getAllCars()">Load Cars</button>
  </div>
</div>

<div class="row pt-2">
  <div class="col-7">
    <div class="card">
      <div class="card-header bg-warning">
        <h5>CAR LIST</h5>
      </div>
      <div class="card-body">
        <table class="table table-bordered text-center">
          <thead>
            <tr>
              <th>Sr No.</th>
              <th>Brand</th>
              <th>Model</th>
              <th>Req No</th>
              <th>Daily Rate</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            @for (item of carList; track $index) {
              <tr>
                <td>{{ $index + 1 }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.model }}</td>
                <td>{{ item.regNo }}</td>
                <td>{{ item.dailyRate }}</td>
                <td>
                  <button class="btn btn-secondary" (click)="onEdit(item)">Edit</button>
                  <button class="btn btn-danger" (click)="onDelete(item.carId)">Delete</button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="col-5">
  <div class="card">
    <div class="card-header bg-warning">
      <h5>CREATE NEW CAR</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6 mt-2">
          <label>Reg No.</label>
          <input
            type="text"
            [(ngModel)]="carObj.RegNo"
            class="form-control"
            placeholder="Enter car img URL"
          />
        </div>
        <div class="col-6 mt-2">
          <label>Brand</label>
          <input
            type="text"
            [(ngModel)]="carObj.Brand"
            class="form-control"
            placeholder="Enter brand name"
          />
        </div>
        <div class="col-6 mt-2">
          <label>Model</label>
          <input
            type="text"
            [(ngModel)]="carObj.Model"
            class="form-control"
            placeholder="Enter model name"
          />
        </div>
        <div class="col-6 mt-2">
          <label>Year</label>
          <input
            type="text"
            [(ngModel)]="carObj.Year"
            class="form-control"
            placeholder="Enter year"
          />
        </div>
        <div class="col-6 mt-2">
          <label>Color</label>
          <input
            type="text"
            [(ngModel)]="carObj.Color"
            class="form-control"
            placeholder="Enter colorL"
          />
        </div>
        <div class="col-6 mt-2">
          <label>Daily Rate</label>
          <input
            type="text"
            [(ngModel)]="carObj.DailyRate"
            class="form-control"
            placeholder="Enter daily rate"
          />
        </div>
        <div class="col-6 mt-2">
          <label>Car Image URL</label>
          <input
            type="text"
            [(ngModel)]="carObj.CarImage"
            class="form-control"
            placeholder="Enter car img URL"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-2 text-center">
          <button class="btn btn-secondary m-2">Reset Form</button>
          --{{carObj.carId}}
          @if (carObj.carId == 0) {
            <button class="btn btn-success m-2" (click)="onSaveCar()">Save Car</button>
          } @else {
            <button class="btn btn-success m-2" (click)="updateCar()">Update Car</button>
          }
          
        </div>
      </div>
    </div>
  </div>
</div>
